[submodule "content/themes/casper"]
	path = content/themes/casper
	url = git://github.com/TryGhost/Casper.git
[submodule "content/themes/polyrhythm"]
	path = content/themes/polyrhythm
	url = git@polyrhythm:polyrhythm-theme
